<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QEvents</title>
  </head>
  <body>
    <main id="root">
      {{{root}}}
    </main>
  <script src="../client.42721214792cb81b5f45.js"></script></body>
</html>
