<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QEvents</title>
  </head>
  <body>
    <main id="root">
      {{{root}}}
    </main>
  <script src="../client.7ac86896d2d57226c2d6.js"></script></body>
</html>
